/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .feature{
    margin: 2rem 0;
  }
  .feature *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: calc(100vh - 1.5rem);
  backdrop-filter: blur(3px);
}

.heroBanner * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.heroContainer {
  display: flex;
  flex-direction: column;
}


.buttons {
  margin-top: 1.5rem;
}

.features {
  margin: 4rem;
  display: flex;
  gap: 2rem;
}

.feature h3 {
  margin-bottom: 0.5rem;
}

.feature p {
  margin-bottom: 1rem;
}

/* src/css/custom.css or your module CSS */
::-webkit-scrollbar {
  width: 8px;               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f000;       /* Track color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: grey;       /* Thumb color */
  border-radius: 8px;
  border: 3px solid #f0f0f000; /* gives padding effect */
}
